img{
    border-width:20px;
    border-color:teal;
    border-style:ridge;
    margin:20px;
    padding:15px;
  }
  body{
    text-align:center;
  }
  h1{
    background-color:hotpink;
    height:50px;
    margin-top:50px
  }
  ul{
    position:absolute;
    float:none;
    list-style:none;
    top:5px;
    right:30px;
  }
  #menu li{
    float:left;
    margin-right:15px;
  }
  h2{
    background-color:hotpink;
  }
  h3{
    background-color:hotpink;
  }
  h4{
    background-color:hotpink;
  }
  p{
    background-color:lightpink;
  }
  #intro{
    background-color:lightpink;
    font-size:20px;
    padding:15px;
    border-style:ridge;
    border-color:hotpink;
    border-width:10px;
  }
  #fam{
    background-color:lightpink;
    font-size:20px;
    padding:15px;
    border-style:dotted;
    border-color:hotpink;
    border-width:10px;
  }
  #education{
    background-color:lightpink;
    font-size:20px;
    padding:15px;
    border-style:ridge;
    border-color:hotpink;
    border-width:10px;
  }
  #Khalsa{
    background-color:lightpink;
    font-size:20px;
    padding:15px;
    border-style:dotted;
    border-color:hotpink;
    border-width:10px;
  }
  #K{
    background-color:lightpink;
    font-size:20px;
    border-style:ridge;
    border-color:hotpink;
    border-width:10px;
  }
  #scripture{
    background-color:lightpink;
    font-size:15px;
    border-style:dotted;
    border-color:hotpink;
    border-width:10px;
  }
  #war{
    background-color:lightpink;
    font-size:15px;
    border-style:ridge;
    border-color:hotpink;
    border-width:10px;
  }
  #battles{
    background-color:lightpink;
    font-size:15px;
    border-style:dotted;
    border-color:hotpink;
    border-width:10px;
  }
  #zafarnama{
    background-color:lightpink;
    font-size:15px;
    border-style:ridge;
    border-color:hotpink;
    border-width:10px;
  }
  #death{
    background-color:lightpink;
    font-size:15px;
    border-style:dotted;
    border-color:hotpink;
    border-width:10px;
  }
  #finalday{
    background-color:lightpink;
    font-size:15px;
    border-style:ridge;
    border-color:hotpink;
    border-width:10px;
  }
  footer{
    background-color:lightpink;
    margin-top:20px;
    padding:15px;
    font-size:25px;
    border-style:ridge;
    border-color:hotpink;
    border-width:10px;
  }